<!--
<!DOCTYPE HTML>
<html>
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Get your greeting <a href="/greeting">here</a></p>
    </body>
</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Welcome</title>
    </head>
    <body>
        <h1>Welcome to Spring Boot</h1>
        <a th:href="@{/login}"> Login >></a>
    </body>
</html>