<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>BonApptheTeeth - Home</title>
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
    </head>

    <style>
        #messages {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 30px;
            width: 30%;
        }

        #notif {
            list-style-type: none;
        }

    </style>

    <body>
        <h1>Welcome to Bon App the Teeth</h1>
        <form action="#" th:action="@{/searchRecipeTenDiet}"  method="post">
            <div class="bloc none l-bloc" id="bloc-3">
                <div class="container bloc-sm">
                    <div class="row align-items-start">
                        <div class="col-md-6 col">
                            <div class="form-group">
                                <input name = "search" class="form-control"
                                       placeholder="Recipe (Restaurant Name)"/>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-1">
                            <!--<a href="login.html"
                               class="btn btn-block btn-mordant-red-19"><span class="fa fa-search"></span></a>-->
                            <button class="btn btn-lg btn-primary btn-block">Search</button>
                        </div>

                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="radioSetOne"
                                       value="option1"/>
                                <label class="form-check-label">
                                    Balanced
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="radioSetOne"
                                       value="option2"/>
                                <label class="form-check-label">
                                    High Protein
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="radioSetOne"
                                       value="option3"/>
                                <label class="form-check-label">
                                    Low Fat
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="radioSetOne"
                                       value="option4"/>
                                <label class="form-check-label">
                                    Low Carb
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </body>
</html>