<!DOCTYPE html>
<html>
    <style>
        #message{
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 30px;
            width: 30%;
        }

    </style>
    <head>
        <meta charset="UTF-8">
        <title>Bon-app-the-teeth</title>
        <script src="/webjars/sockjs-client/sockjs.js"></script>
        <script src="/webjars/stomp-websocket/stomp.js"></script>
        <script type="text/javascript">
            var stompClient = null;
            function connect() {
                var socket = new SockJS('/interaction');
                stompClient = Stomp.over(socket);
<!--                upgrade connection protocol to STOMP-->
                stompClient.connect({}, function(frame) {
                    stompClient.subscribe('/topic/messages', function(messageOutput) {
                        showMessageOutput(messageOutput);
                    });
                });
            }

            function showMessageOutput(messageOutput) {
                var textNode = document.createTextNode(messageOutput.body);     // Create a text node
                document.getElementById('message').appendChild(textNode);
            }

            connect();

        </script>
    </head>
    <body>
        <h1>Welcome to Bon-app-the-teeth</h1>
        <div id="message"></div>
    </body>
</html>